#id{
    background-color:red;
    color:yellow
}
#id{
    background-color:red;
    color:yellow
}
#id{
    background-color:red;
    color:yellow
}
#id{
    background-color:red;
    color:yellow
}
#id{
    background-color:red;
    color:yellow
}
#id{
    background-color:red;
    color:yellow
}